@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    height: 100%;
    min-height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: rgb(32,22,83);
    background: linear-gradient(167deg, rgba(32,22,83,1) 0%, rgba(222,22,157,1) 18%, rgba(137,19,126,1) 46%, rgba(40,16,90,1) 78%);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    font-family: 'Righteous', cursive;
}
header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: rgb(43, 43, 43);
}
 .cabecalho-menu{
    display: flex;
    gap: 30px;
    font-family: 'Righteous', cursive;
}
.cabecalho-menu-item{
    color: white;
}
main{
        margin-bottom: 48px;
}
.fundo-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw; height: 65vh;
}
.fundo{  
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.863);
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 300px;
    gap: 40px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}
input{
    height: 30px;
    width: 250px;
    background-color: #FFFFFF;
    padding: 0.6em;
    border: 1px solid #0370ff;
    margin-bottom: 10px;
    border-radius: 10px;
}
.butao{   
    background-color: #f4960bcf;
    width: 150px;
    height: 54px;
    left: 135px;
    top: 527px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Cabin', sans-serif;
    border-radius: 31px;
    font-size: 19px; 
    font-weight: 28px;
    font-size: 19px;
    line-height: 23px;
    color: #ffffff;
}
.butao:hover{
    background: #0370ff;
}
footer{
    margin-top: auto;
    border-top: 1px solid #dadada;
}
.rodape-conteudo{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.footer-menu-nav{
    display: flex;
    justify-content: space-around;
}
.sec-img{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
@media only screen and (max-width: 550px) {
    img{
        width: 10%;
    }
}