 @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: rgb(32,22,83);
    background: linear-gradient(167deg, rgba(32,22,83,1) 0%, rgba(222,22,157,1) 18%, rgba(137,19,126,1) 46%, rgba(40,16,90,1) 78%);
    background-attachment: fixed;
}
h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: rgba(43, 43, 43, 0.781);
}
 .cabecalho-menu{
    display: flex;
    gap: 30px;
    font-family: 'Righteous', cursive;
}
.cabecalho-menu-item{
    color: white;
    text-decoration: none;
}
form{
    width: 445px;
    height: 450px;
    margin-top:5%;
    border-radius: 30px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    gap: 1.5rem;
}
.form-titulo{
   margin-top: 1.25%;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 2em;
}
input{
    height: 45px;
    width: 250px;
    border-radius: 15px 15px 15px 15px;
    padding: 1em;
    outline: 0;
    border: none;
}

.checkbox{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#check{
    margin-left: -30%;
}

.teste{
    color: white;
    margin-left: -20%;
    margin-top: 2%;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.conteudo-principal-escrito{

    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}
.conteudo-principal-escrito-subtitulo{
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    line-height: 61px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
   font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: white;
    max-width: 500px;
}
.botao{
    background-color: rgba(78, 213, 207, 0.81);
    width: 210px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Cabin', sans-serif;
    border-radius: 31px;
    font-size: 19px;
    color: #ffffff;
}
.botao:hover{
    cursor:pointer;
    background-color: #0370ff;

}
#titulo{
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-family: 'Cabin', cursive;

}

.select{
    width: 100%;
    height: 100%;
}
#equipasCombo {
    height: 45px;
    width: 250px;
    border-radius: 15px 15px 15px 15px;
    padding: 1em;
    outline: 0;
    border: none;
}

#equipasCombo{

}
footer{
    position:absolute;
    margin-top: 2em;
    left: 0;
    bottom: 0;
    width: 100%;

}
.titulo-footer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}
.rodape-conteudo{
    display:flex;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.footer-menu-nav{
    display: flex;
    gap: 150px;
}
.footer-nav-item{
    font-family: 'Righteous', cursive;
    color: white;
}
.sec-img{
    margin-bottom: 2px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

div.jogador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

div.jogador input{
    margin-top: .5rem;
}

@media only screen and (max-width: 59.375rem) {

    .formulario-fundo{
        width: 18.75rem;
        height: 28.125rem;
        gap:1.25rem;
    }
    .formulario-fundo-esquerda{
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0.25rem 0.313rem 0.25rem rgba(0, 0, 0, 0.25);
        background-color: rgba(80, 80, 80, 0.863);
        width: 18.75rem;
        height: 31.25rem;
        gap: 2.5rem;
    }
    .img-form
    {
        display: flex;
        justify-content:center;
        margin-top:2.5rem;
        width:250px;
        height:150px;
    }

    .butao{
        width: 115px;
        height: 35px;
    }
    .butao2{
        width: 115px;
        height: 35px;
    }
}
@media only screen and (max-width: 800px) {
    .cabecalho-menu {
        justify-content: center;
        flex-direction: column;
    }
    #img{
        width: 10%;
    }
    .div-img {
        display: none;
    }
    .form-escrever{
        width: 300px;
    }
    footer{
        display: none;
    }
}
@media only screen and (max-width: 1200px) {

  div.jogador{
    display: flex;
    flex-direction: column;
  }
    .form-escrever{
        width: 400px;
    }
}
@media only screen and (max-width: 600px) {

    .form-escrever{
        width: 280px;
    }

}
